<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{profile.loginId}}님의 프로필</title>
</head>
<body>
<h1>✨ {{profile.loginId}}님의 갓생 프로필</h1>

<h3>현재 레벨: Lv.{{profile.level}}</h3>
<h3>경험치: {{profile.exp}} / 100</h3>

<br>
<a href="/profile?nickname=">다른 유저 검색하기</a>
</body>
</html>